*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    font-family: 'Hanken Grotesk', sans-serif;
    /* background-color: black; */
}

.max-width-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  
 
}

/* .content-wrapper {

} */
.result-box {
  background: linear-gradient(#7755FF, #6943FF, #2F2CE9);
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-flow: column wrap;
  height: 356px;
  width: 375px;
  margin: 0;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

h1 {
  color: #CAC9FF;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  line-height: 23.45px;
  padding: 0;
  margin: 0;
  margin-top: 24px;
}

.result-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  background: linear-gradient(#4D21C9 0%, rgba(37, 33, 201, 0) 100%,
  rgba(37, 33, 201, 0) 100%);
  padding: 0;
  margin: 0;
  margin-top: 21px;
}

.result-score-box {
  width: 63px;
  height: 93px;
  padding: 0;
  margin: 0;
}
.total-score {
  color: #FFFFFF;
  text-align: center;
  font-weight: 800;
  font-size: 56px;
  line-height: 72px;
  padding: 0;
  margin: 0;
}

.total-count {
  color: #CAC9FF;
  text-align: center;
  font-weight: 700px;
  font-size: 16px;
  line-height: 20.85px;
  padding: 0;
  margin: 0;
}

h3 {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 24px;
  line-height: 31.27px; 
  padding: 0;
  margin: 0;
  margin-top: 24px;
}

.result-box-message {
  color: #CAC9FF;
  font-weight: 500;
  font-size: 16px;
  line-height: 20.85px; 
  text-align: center;
  padding: 0;
  margin: 0;
  margin-top: 8px;
  padding-left: 58px;
  padding-right: 57px;
}

.summary-box {
  
}

h2 {
  color: #303B59;
  font-style: bold;
  font-size: 18px;
  line-height: 100%;
  text-align: left;
  vertical-align: top;
  margin: 24px 24px 24px 32px;
  /* margin-left: 24px; */
  padding: 0;
  
}

/* Icons */
.skills-box {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  width: 315px;
  height: 56px;
  border-radius: 10px;
  margin: 0 30px 16px 30px;
}

.skills-box span {
  color: #9799A9;
  margin-left: 8px;
}
.reaction {
  background-color: #FFF6F6;
}

.memory {
  background-color: #F0FCF9;
}

.verbal {
  background-color: #FFFBF3;
}

.visual {
  background-color: #F3F4FE;
}

.summary-wrapper {
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  flex-flow: column wrap;
}


/* Footer */
footer {
  text-align: center;
  font-size: 18px;
}

footer a {
  color: #714DFF;
  font-weight: 700;
}